[GLOBAL]
seed = 6666
img_input_dir = /home/chenjinshu/mogan/MOGAN/Input/Images/turtle.jpg
anot_input_dir = /home/chenjinshu/mogan/MOGAN/Input/Annotations/turtle.xml
output_dir = /home/chenjinshu/mogan/MOGAN/Train_results/turtle
gen_num = 200
scale_w = 1
scale_h = 1
suffix = png

[HYPER_F]
weight4style = 1.7
channels = 3
kernel_size = 3
stride = 1
if_padding = True
G_num_layer = 2
D_num_layer = 6
#scales = 6
scale_base = 0.65
out_channels = 256
lr_g = 0.001
lr_d = 0.001
iters_list = 2000,2000,2000,2000,2000,2000
#iters_list = 20,20,20,20,20,20
D_steps = 3
G_steps = 3
lambda_grad = 0.1
alpha4rec = 10
alpha4cos = 0
alpha4vgg = 1
noise_weight = 0.1
p4flip = 0
if_lazy = False

n_segments = 50
compactness = 10
sigma = 1
start_label = 1

[HYPER_B]
channels = 3
kernel_size = 3
stride = 1
if_padding = True
G_num_layer = 3
D_num_layer = 5
#scales = 7
scale_base = 0.65
out_channels = 256
lr_g = 0.0002
lr_d = 0.0002
iters_list = 2000,2000,2000,2000,2000,2000,2000
#iters_list = 20,20,20,20,20,20
D_steps = 3
G_steps = 3
lambda_grad = 0.1
alpha4rec = 10
alpha4cos = 20
alpha4vgg = 0
noise_weight = 0.1
p4flip = 0.1
if_lazy = False
